@model CasoUsoCompartida.DTOs.EtapaSeguimiento.CrearComentarioDto

@{
    var EnvioId = ViewData["envioId"];
    var CorreoEmpleado = ViewData["correoEmpleado"];
    ViewData["Title"] = "Agregar Comentario de Seguimiento";
}

<h2>Agregar Comentario</h2>

<form asp-action="AgregarComentario" method="post">
    <input asp-for="IdEnvio" type="hidden" name="IdEnvio"/>

    <input asp-for="CorreoEmpleado" type="hidden"/>

    <div class="form-group">
        <label asp-for="Comentario">Comentario</label>
        <textarea asp-for="Comentario" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Comentario" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Comentario</button>
</form>