@model CasoUsoCompartida.DTOs.Usuarios.LoginEntradaDto

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Correo</label>
        <input asp-for="Correo" />
    </div>
    <div>
        <label>Contraseña</label>
        <input asp-for="Clave" type="password" />
    </div>
    <div>
        <button type="submit">Ingresar</button>
    </div>

    <div style="color:red">
        @ViewBag.Error
    </div>
</form>